* {
  margin: 0;
  padding: 0;
  height: 900px;
  background-color: #1c1c1c;
  font-family: 'Inter', sans-serif;
}

.App {
  background-color: #23252c;
  width: 550px;
  height: 868px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  background-color: #1a1b21;
  height: 124px;
  width: 317px;
  margin-top: -700px;
}

.h1Tag {
  background-image: url('./images/Portrait_Placeholder.png');
  background-repeat: no-repeat;
  background-size: 317px;
  height: 317px;
  border-radius: 10px 10px 0 0;
}

/* personalInfo and buttons are 399px togather */
.personInfo {
  display: flex;
  justify-content: center;
  background-color: #1a1b21;
  color: white;
  height: 120px;
  padding: 0 0 0 30px;
}

ol {
  height: 0;
  margin: 21px 40px 0 0;
}

li {
  height: 30px;
  list-style: none;
}

.name {
  font-weight: 700;
  font-size: 25px;
}

.occupation {
  font-weight: 400;
  font-size: 12.8px;
  color: #f3bf99;
  margin-top: 10px;
}

.email {
  font-weight: 400;
  font-size: 10.24px;
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  height: 70px;
  margin: 0;
}

.btn1,
.btn2 {
  margin: 1px 8px 0 8px;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.btn1 {
  background-color: white;
  border: 1px solid #d1d5db;
}

.btn2 {
  background-color: #5093e2;
  border-style: none;
}

.btn1Div,
.btn2Div {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
  background: none;
  height: 10px;
}

.emailText,
.linkedinText {
  background: none;
  height: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.fa-solid,
.fa-brands {
  background: none;
  height: 0;
  margin: 2px 8px 0 0;
}

.btn2Div {
  color: #ffffff;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 317px;
  height: 10px;
}

.aboutTitle,
.interestsTitle {
  color: #ffffff;
  height: 21px;
  font-weight: 700;
  font-size: 16px;
  padding: 0 30px 5px;
}

.aboutPara,
.interestsPara {
  padding: 0 30px;
  color: #ffffff;
  height: 76px;
  font-weight: 400;
  font-size: 10.24px;
}

.interestsContainer {
  display: flex;
  flex-direction: column;
  width: 317px;
  height: 10px;
  padding: 80px 0 100px 0;
}

.footerContainer {
  background-color: #161619;
  color: #918e9b;
  display: flex;
  justify-content: center;
  width: 317px;
  height: 64px;
  border-radius: 0 0 10px 10px;
}

.fa-square-twitter,
.fa-square-facebook,
.fa-square-instagram,
.fa-square-github {
  font-size: 25px;
  margin: 20px 10px 0 10px;
}
